html {
    --bg: black;
    --fg: white;
    --accent: #bd5d97;
    --link-color: #bd5d97;
    --note-color: #ffffff75;
}
.distort {
    filter: url('#refract_fast');
}
.hidesvg {
    margin: 0;
    width: 0;
    height: 0;
    position: fixed;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background: var(--bg);
    color: var(--fg);
    margin: 0;
    font-family: "Lexend", Arial, Helvetica, sans-serif;
}

p {
    margin: 0;
}

a {
    color: var(--link-color);
    text-decoration: none;
    width: fit-content;
}

.highlight {
    position: relative;
    font-weight: 600;
}

.highlight::before {
    position: absolute;
    left: -1rem;
    right: -1rem;
    top: 0;
    bottom: 0;
    content: '';
    background: var(--accent);
    z-index: 0;
    mix-blend-mode: lighten;
    transform: skew(-10deg);
}

.sections {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 1rem 8rem;
}

.title-text {
    padding-left: 1rem;
    color: var(--fg);
    font-size: 3rem;
    text-decoration: none;
    user-select: none;
}
/* .title-text .highlight {
    transition: letter-spacing 400ms;
    transition-timing-function: ease-in-out;
}
.title-text:hover .highlight {
    letter-spacing: 0.5rem;
} */
.content {
    width: 100%;
    min-width: min-content;
    max-width: 400px;
    max-height: 100vh;
}
.member {
    position: relative;
    margin: 1rem 0;
}
.member::after {
    content: '';
    position: absolute;
    bottom: -0.5rem;
    left: 0;
    right: 0;
    height: 2px;
    transform: scaleX(0%);
    filter: opacity(0.5);
    background: var(--fg);
    transition: transform 200ms, filter 200ms;
}
.member:hover::after {
    transform: scaleX(100%);
    filter: opacity(1);
    transition: transform 200ms, filter 200ms;
}
.member-quick {
    display: flex;
    overflow: hidden;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.member-username {
    text-transform: lowercase;
}
.member-moreinfo {
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    margin: 0.2rem 0;
}
.note {
    color: var(--note-color);
    font-size: 0.8rem;
}

.scroll-page {
    min-height: 100vh;
}

.footer {
    padding: 1rem;
    text-align: center;
}

:root {
    font-size: 12px;
}

@media (min-width: 350px) {
    :root {
        font-size: 14px;
    }
}

@media (min-width: 500px) {
    :root {
        font-size: 16px;
    }
}

@media (min-width: 880px) {
    :root {
        font-size: 16px;
    }
    .sections {
        flex-direction: row-reverse;
        justify-content: space-around;
    }
    .content {
        width: min-content;
    }
    .member-quick {
        justify-content: space-between;
    }
}

@media (min-width: 1000px) {
    :root {
        font-size: 18px;
    }
    .title-text {
        font-size: 4rem;
    }
}

@media (min-width: 1400px) {
    :root {
        font-size: 20px;
    }
}